.mediaViewInfo {
	--web-view-name: Project;
	--web-view-id: Project;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Project;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Project {
	position: absolute;
	width: 1920px;
	height: 6012px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Project;
	--web-view-id: Project;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_1_b {
	fill: rgba(253,60,60,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_b {
	overflow: visible;
	position: absolute;
	width: 1921px;
	height: 785.333px;
	left: 0.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#hero_upgrade {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1920px;
	height: 784.327px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Through_small_sample_of_visual_b {
	left: 272px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 1376px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(59,59,59,1);
	letter-spacing: 0.59px;
}
#GET_IN_TOUCH_b {
	position: absolute;
	width: 1622.903px;
	height: 242px;
	left: 149px;
	top: 5627px;
	overflow: visible;
}
#Our_Client_b {
	position: absolute;
	width: 286px;
	height: 44px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#GET_IN_TOUCH_ca {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(100,100,100,1);
}
#Group_16_cb {
	position: absolute;
	width: 259.903px;
	height: 46.111px;
	left: 1363px;
	top: 134px;
	overflow: visible;
}
#Path_1_cc {
	fill: rgba(102,89,72,1);
}
.Path_1_cc {
	overflow: visible;
	position: absolute;
	width: 46.393px;
	height: 46.111px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_cd {
	fill: rgba(102,89,72,1);
}
.Path_2_cd {
	overflow: visible;
	position: absolute;
	width: 41.903px;
	height: 41.903px;
	left: 111px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4_ce {
	fill: rgba(102,89,72,1);
}
.Path_4_ce {
	overflow: visible;
	position: absolute;
	width: 41.903px;
	height: 41.903px;
	left: 218px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#ID1270_Topaz_Ave_San_Jose_CA_9_cf {
	left: 1px;
	top: 76px;
	position: absolute;
	overflow: visible;
	width: 743px;
	height: 166px;
	line-height: 60px;
	margin-top: -12.5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(70,70,70,1);
}
#Please_contact_me_at_cg {
	left: 1206px;
	top: 76px;
	position: absolute;
	overflow: hidden;
	width: 417px;
	height: 33px;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(70,70,70,1);
}
#Description_Plastic_has_been_u {
	left: 211px;
	top: 1071px;
	position: absolute;
	overflow: visible;
	width: 1501px;
	height: 680px;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.59px;
}
#Des-diagram_1 {
	left: 211px;
	top: 1670px;
	position: absolute;
	overflow: visible;
	width: 1501px;
	height: 182px;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.59px;
}
#Des_diagram_2 {
	left: 211px;
	top: 3754px;
	position: absolute;
	overflow: visible;
	width: 1501px;
	height: 182px;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(93,93,93,1);
	letter-spacing: 0.59px;
}
#diagram_2 {
	position: absolute;
	width: 1500px;
	height: 1561px;
	left: 211px;
	top: 3966px;
	overflow: visible;
}
#diagram_1 {
	position: absolute;
	width: 1500px;
	height: 1591.463px;
	left: 211px;
	top: 2063px;
	overflow: visible;
}
#Foot_cm {
	position: absolute;
	width: 1920px;
	height: 102px;
	left: 0px;
	top: 5910px;
	overflow: visible;
}
#Base_cn {
	fill: rgba(236,236,236,1);
}
.Base_cn {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 102px;
	left: 0px;
	top: 0px;
}
#Text_co {
	position: absolute;
	width: 202px;
	height: 14px;
	left: 859px;
	top: 47px;
	overflow: visible;
}
#_2020_Huy_Tran_All_Rights_Rese_cp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -1px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#UPGRADE_PROJECT {
	left: 1076px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 755px;
	height: 214px;
	text-align: right;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.59px;
}
#Group_18 {
	position: absolute;
	width: 1745.658px;
	height: 53px;
	left: 82px;
	top: 60px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 429px;
	height: 42px;
	left: 1316.658px;
	top: 11px;
	overflow: visible;
}
#PROJECTS_ct {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.59px;
}
#PROFILE_cu {
	left: 269px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.59px;
}
#Group_1 {
	position: absolute;
	width: 232.889px;
	height: 52.102px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2_cw {
	fill: rgba(255,255,255,1);
}
.Path_2_cw {
	overflow: visible;
	position: absolute;
	width: 5.453px;
	height: 36.138px;
	left: 0px;
	top: 13.763px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3_cx {
	fill: rgba(255,255,255,1);
}
.Path_3_cx {
	overflow: visible;
	position: absolute;
	width: 26.752px;
	height: 36.793px;
	left: 30.171px;
	top: 13.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4_cy {
	fill: rgba(255,255,255,1);
}
.Path_4_cy {
	overflow: visible;
	position: absolute;
	width: 29.094px;
	height: 36.138px;
	left: 61.089px;
	top: 13.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5_cz {
	fill: rgba(255,255,255,1);
}
.Path_5_cz {
	overflow: visible;
	position: absolute;
	width: 5.454px;
	height: 11.326px;
	left: 113.658px;
	top: 38.576px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6_c {
	fill: rgba(255,255,255,1);
}
.Path_6_c {
	overflow: visible;
	position: absolute;
	width: 22.048px;
	height: 27.886px;
	left: 105.349px;
	top: 13.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7_c {
	fill: rgba(255,255,255,1);
}
.Path_7_c {
	overflow: visible;
	position: absolute;
	width: 23.43px;
	height: 36.138px;
	left: 132.265px;
	top: 13.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8_c {
	fill: rgba(255,255,255,1);
}
.Path_8_c {
	overflow: visible;
	position: absolute;
	width: 35.132px;
	height: 38.408px;
	left: 156.981px;
	top: 11.493px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9_c {
	fill: rgba(255,255,255,1);
}
.Path_9_c {
	overflow: visible;
	position: absolute;
	width: 31.808px;
	height: 40.796px;
	left: 196.63px;
	top: 11.306px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_c {
	fill: rgba(255,255,255,1);
}
.Path_11_c {
	overflow: visible;
	position: absolute;
	width: 24.265px;
	height: 36.138px;
	left: 3.984px;
	top: 13.763px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13_c {
	fill: rgba(255,255,255,1);
}
.Path_13_c {
	overflow: visible;
	position: absolute;
	width: 14.568px;
	height: 14.567px;
	left: 46.521px;
	top: 13.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15_c {
	fill: rgba(255,255,255,1);
}
.Path_15_c {
	overflow: visible;
	position: absolute;
	width: 14.567px;
	height: 14.568px;
	left: 192.113px;
	top: 35.333px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_16_c {
	fill: rgba(255,255,255,1);
}
.Path_16_c {
	overflow: visible;
	position: absolute;
	width: 14.568px;
	height: 14.567px;
	left: 218.32px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}